html,
body {
    background: #264d73;
    font-family: 'Open Sans', sans-serif;
    color: black;
    line-height: 1.7em;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    background-color: #555;
}

li {
    display: inline;
}

li a {
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #f1f1f1;

}

.active {
    background-color: #f1f1f1;
}

#wrap {
    margin: 0 auto;
    width: 95%;
    height:95%;
    overflow: auto;
    clear: both;
    position: relative;
}

#form {

    width: 15%;
    height:25%;
    background-color:#b3cce6;
    overflow: hidden;
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 18px;
    float: left;
    padding: 10px;
}

#map-wrap {
    /*float: right;*/
    padding: 10px;
    margin: 0 auto;
    width: 1000px;
    height:600px;
    overflow: auto;
    float: right;
}

#map {
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow: hidden;
}

/*leafler overlay*/
#overlay {
    position:absolute;
    top:0;
    background-color:rgba(255,255,255,0.8);
    overflow: hidden;
}


/*fade in markers*/

.leaflet-marker-icon,
.leaflet-marker-shadow
/*.leaflet-popup */{
    -webkit-animation: fadein 20s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 20s; /* Firefox < 16 */
    -ms-animation: fadein 20s; /* Internet Explorer */
    -o-animation: fadein 20s; /* Opera < 12.1 */
    animation: fadein 20s;
}
/*
.leaflet-marker#1-icon,
.leaflet-marker#1-shadow {
    -webkit-animation: fadein 3s; !* Safari, Chrome and Opera > 12.1 *!
    -moz-animation: fadein 3s; !* Firefox < 16 *!
    -ms-animation: fadein 3s; !* Internet Explorer *!
    -o-animation: fadein 3s; !* Opera < 12.1 *!
    animation: fadein 3s;
}
.leaflet-marker#2-icon,
.leaflet-marker#2-shadow {
    -webkit-animation: fadein 10s; !* Safari, Chrome and Opera > 12.1 *!
    -moz-animation: fadein 10s; !* Firefox < 16 *!
    -ms-animation: fadein 10s; !* Internet Explorer *!
    -o-animation: fadein 10s; !* Opera < 12.1 *!
    animation: fadein 10s;
}
*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
